/* Typography Styles */
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  color: white;
}

h2, h3 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin: 2px;
}

/* Header Styles */
header {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}

/* Main Content Styles */
main {
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: solid rgb(120, 146, 231) 2px;
}

/* App Contents Styles */
#app-contents {
  display: flex;
  height: 90%;
}

/* Search History Styles */
#search-history {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 10px;
}

/* Output Info Styles */
#output-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10px 10px 10px 0px;
}

/* Today Section Styles */
#today {
  display: flex;
  flex-direction: column;
  height: 40%;
  border: solid rgb(120, 146, 231) 2px;
}

/* Today Heading Styles */
#today-heading {
  display: flex;
}

/* Week Look Styles */
#week-look {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 60%;
}

/* Five Day Forecast Styles */
#five-day-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

/* Search Aside Styles */
.search-aside {
  margin-top: 5px;
}

/* Search Field Styles */
#search-field {
  width: 95%;
  height: 40px;
}

/* Search Button Styles */
#search-button {
  width: 98%;
  height: 30px;
  background-color: rgba(32, 145, 238, 0.945);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Single Border Styles */
#single-border {
  width: 97%;
  border: solid grey 1px;
  margin-top: 15px;
}

/* Five Day Button Styles */
.five-day-button {
  height: 210px;
  width: 150px;
  background-color: rgba(50, 50, 153, 0.808);
  display: flex;
  flex-direction: column;
  color: white;
}

/* Additional Typography Styles */
h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px 6px;
  font-weight: 400;
}

/* Date Styles */
date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px 6px;
  font-weight: 600;
}

/* Image Styles */
img {
  height: 45px;
  width: 45px;
}

/* General Button Styles */
.button-general {
  width: 98%;
  height: 30px;
  background-color: rgba(153, 165, 175, 0.945);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 18px;
}

/* Test Image Styles */
.tst {
  background-size: contain;
  height: 45px;
  width: 45px;
}
